@import "../bootstrap/less/variables.less";

// Set variables here:
@ogo-red: #ED1C24;
@ogo-brown: #3C2417;
@ogo-grey: #D1D3D4;

@brand-primary: @ogo-red;

@headings-font-family: "TrendSansOne", @font-family-base;

@import "../bootstrap/less/bootstrap.less";

// Overrides and styles here:

.container#header {
	#logo-box {
		background-color: white;
		padding: 20px 0;
	}
	a#logo {
		display: block;
		background-color: @body-bg;
	}
	&.affix {
		margin: 0 auto;
		left: 50%;
		top: 0%;
		z-index: 100;
		top: -132px;
		margin-left: -@container-desktop/2;
		@media (min-width: @screen-sm) { margin-left: -@container-tablet/2; }
		@media (min-width: @screen-md) { margin-left: -@container-desktop/2; }
		@media (min-width: @screen-lg) { margin-left: -@container-large-desktop/2; }
		// No affix on phones:
		@media (max-width: @screen-xs-max) {
			position: static;
			margin-left: 0;
		}
	}
	@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
		.nav>li>a { padding-left: 10px; padding-right: 10px; }
	}
}
.container#header.affix + .container {
	margin-top: 250px;
	@media (max-width: @screen-xs-max) { margin-top: 0; }
}

.navbar {
	.btn.navbar-right { margin-bottom: 8px; }
	/*.navbar-nav { clear: left; } // links are always on a second row.
	.navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; &:active { outline-style: none; } }
	.navbar-nav>.active>a {
		border-radius: 5px 5px 0 0;
	}*/
	// Change the header configuration on phones:
	@media (max-width: @screen-xs-max) {
		.navbar-brand {
			float: none;
			display: block;
			img {
				display: block;
				margin: 0 auto;
			}
			font-size: 0;
			text-indent: -9999px;
			line-height: 0;
		}
		.btn.navbar-right {
			width: 50%;
			float: right;
		}
	}
}

// For the left nav:

#left-nav {
	.affix {
		// When affix is applied, it uses position:fixed which takes
		// the element out of the flow, so we must manually specify widths:
		width: 212.5px;
		top: 116px;
		@media(min-width: @screen-lg) {
			width: 262.5px;
		}
		@media(max-width: @screen-sm-max) {
			position: static;
			width: auto;
			.active a { background-color: transparent; color: @brand-primary; }
		}
	}
	@media(max-width: @screen-sm-max) {
		margin-bottom: 20px;
		&::before { content: "On this page:" }
	}
}
h2.scroll-header-fix, div.scroll-header-fix {
	margin-top: -100px;
	padding-top: 100px;
	pointer-events: none;
}

// Body and general styles

h1, h2, h3, h4, h5, h6, .jumbotron h1 {
	color: @ogo-brown;
}

#main-content {
	*:not(.scroll-header-fix) + h1 { border-top: 30px solid transparent; }
	* + h2 { border-top: 25px solid transparent; &.scroll-header-fix { margin-top: -80px; } }
	* + h3 { border-top: 15px solid transparent; }
}

// The footer

html, body { height: 100%; }
#wrap { min-height: 100%; }
#wrap #main-content { padding-bottom: 110px; }

footer#footer {
	&::before {
		display: block;
		margin-top: 20px;
		height: 14px;
		background-color: @ogo-red;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAl0lEQVRIx73UMQqAMAyF4Qxe0dWhuxfzBO4eS0EbaaCUpBZMXuCHLO23hW7M7LkldxIIm0ozgwmEvVFZEgKrQW9UxVrQCzUxDfyLdjEL5LYIzALXKEwDQ7EWDMdqEIIJCMMEhGF8wAmJ5S5CYvwJIbFR0A0bAV2xL9Ad64EhmAWGYRoYirVgOFaDEExAGCYgDMtzEBLjtw87WtIRx/uqRAAAAABJRU5ErkJggg==');
		background-size: auto 14px;
		content: ' ';
	}
	margin-top: -99px;
	background-color: @ogo-red;
	color: white;
	padding-bottom: 5px;
	min-height: 80px;
	position: relative;
	nav {
		ul {
			margin: 0 0 0 -10px;
			padding: 0;
			li {
				margin: 0;
				padding: 0;
				display: inline;
				display: inline-block;
				list-style-type: none;
				margin-right: 10px;
				&:hover { background: rgba(255,255,255,0.2); }
					@media (max-width: @screen-sm-max) { display: block; }
				a {
					display: inline-block;
					color: white;
					text-decoration: none;
					padding: 10px 10px;
					@media (max-width: @screen-sm-max) { display: block; }
				}
			}
		}
	}
}

// For images using the CMS image plugin:

.cms-img {
	margin-bottom: 10px;
	img { width: 100%; border: 0 none; }
	.cms-img-caption {
		font-size: 12px;
		margin-top: 5px;
	}
	&.cms-img-float-right {
		width: 30%;
		float: right;
		clear: right;
		margin-left: 10px;
	}
	&.cms-img-float-left {
		width: 30%;
		float: left;
		clear: left;
		margin-right: 10px;
	}
	&.cms-img-frame { .img-thumbnail }
}

// For partner logos

.partner-logo {
	width: 29.3%;
	margin: 2%;
	border-right: 1px solid white;
	float: left;
	a {
		display: block;
		position: relative;
		height: 0;
		padding-bottom: 50.00%; // relative to width of parent element
		img {
			position: absolute;
			display: block;
			max-width: 100%;
			max-height: 100%;
			margin: 0 auto;
		}
	}
	@media (max-width: @screen-xs-max) { width: 46%; }
	@media (min-width: @screen-lg) { width: 21%; }
}
.partner-logo + *:not(.partner-logo) {
	clear: left;
}
