{% extends "ogo/base.html" %}
{% load sekizai_tags bootstrap %}

{% block page_title %}Order a Gift Certificate - OGO Carshare{% endblock %}

{% addtoblock "css" %}
	<style>
	input#id_amount::before: { content: "$"; }
	</style>
{% endaddtoblock %}

{% block content_area %}
    <div class="container">
        <h1>Order a Gift Certificate</h1>
        <p>Give the gift of carsharing! Use this form to buy a gift certificate for any OGO member. Once you have paid, we will apply the gift as a credit to the recipient's account, and then email you with a confirmation and a printable certificate that you can give to the recipient.</p>

        <img src="{{STATIC_URL}}giftcert/ogo_gc_25.jpg" style="max-height: 400px; margin: 40px 40px 40px 0; border: 1px solid #ddd; box-shadow: 3px 3px 5px rgba(128,128,128,0.3);" alt="[Image of a gift certificate]" />
        <img src="{{STATIC_URL}}giftcert/ogo_gc_50.jpg" style="max-height: 400px; margin: 40px 40px 40px 0; border: 1px solid #ddd; box-shadow: 3px 3px 5px rgba(128,128,128,0.3);" alt="[Image of a gift certificate]" />
        <img src="{{STATIC_URL}}giftcert/ogo_gc_100.jpg" style="max-height: 400px; margin: 40px 40px 40px 0; border: 1px solid #ddd; box-shadow: 3px 3px 5px rgba(128,128,128,0.3);" alt="[Image of a gift certificate]" />

        <form action="" method="post" class="form-horizontal" role="form">
            {% csrf_token %}
            {{ form|bootstrap_horizontal }}


            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <button type="submit" class="btn btn-primary" class="form-control">
                        Proceed to Payment (PayPal)
                    </button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}
