# Core stack dependencies
django>=1.10,<1.10.99
psycopg2==2.7.1
django_redis==4.7.0
PyYAML==3.12

# Django CMS
django-reversion==2.0.8
django-cms==3.4.2
djangocms-column==1.7.0
djangocms-text-ckeditor==3.4.0
django-filer==1.2.7
easy-thumbnails==2.3
django-compressor==2.1.1
django-bootstrap-form==3.2
requests==2.13.0
Pillow==4.0.0

# Django CMS Blog
djangocms-blog==0.8.12

-e .
