{% load sekizai_tags compress menu_tags %}
{% load cms_tags %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block page_title %}{% if page_title %} {{page_title}} {% else %} OGO {% endif %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% addtoblock "css" %}
		{% compress css %}
		<link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/ogo.less" />
		{% endcompress %}
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/TrendSansOne.css" />
	{% endaddtoblock %}
	{% render_block "css" %}
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js"></script>
	<![endif]-->
</head>
<body{% block body_tag_extra_attrs %}{% endblock %}>
	{% cms_toolbar %}
	{% block body_begin %}{% endblock %}
	<div id=wrap> {# used to push the footer down on short pages #}
		<div class="container" id="header" data-spy="affix" data-offset-top="132">
			<a href="https://carshareverywhere.net/ogo/" class="btn btn-default navbar-btn pull-right hidden-xs">Member login</a>
			<div id=logo-box>
				<a href="/" id=logo><img alt="OGO Car Share Co-Op" src="{{STATIC_URL}}logo.png" width=288 height=139 /></a>
			</div>
			<nav class="navbar navbar-default" role="navigation">
				<a href="https://carshareverywhere.net/ogo/" class="btn btn-default navbar-btn navbar-right visible-xs-block">Member login</a>
				<a href="#" class="btn btn-default navbar-btn navbar-right visible-xs" data-toggle="collapse" data-target=".navbar-ex1-collapse">▼ Show menu</a>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						{% show_menu 0 0 0 0 %}
					</ul>
				</div>
			</nav>
		</div>
		<div class="container" id=main-content>
			{% block content_area %}Content goes here.{% endblock %}
		</div>
	</div>
	<footer id="footer">
		<div class="container">
			<nav>
				<ul>
					{% show_menu 0 0 0 0 %}
				</ul>
			</nav>
			&copy; 2012-{%now "Y"%} Okanagan Car Share Co-op.
		</div>
	</footer>
	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	{% addtoblock "js" %}
	{% compress js %}
		<script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
	{% endcompress %}
	{% endaddtoblock %}
	{% render_block "js" %}
	<script>
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-37186349-1']);
	_gaq.push(['_trackPageview']);
	if (document.location.hostname == "ogocarshare.ca" || document.location.hostname == "www.ogocarshare.ca") {
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	}
	</script>
</body>
</html>
